<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eliminar Empresa</title>
</head>

<body>
    <h1>Eliminar Empresa</h1>
    <form method="POST">
        {% csrf_token %} {% if business %}
        <center>
            <div style="width: max-content; margin:50px">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>{{business.nombre}}</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ business.razon_social }}</h5>
                        <h5 class="card-title">{{ business.direccion }}</h5>
                        <h5 class="card-title">{{ business.rfc }}</h5>
                        <h5 class="card-title">{{ business.telefono_oficial }}</h5>
                        <h5 class="card-title">{{ business.telefono_contacto }}</h5>
                        <div class="float">
                            <p class="delete-msg">Eliminar la empresa <b>"{{ business.nombre }}"</b>?</p>
                            <div class="float-center">
                                <a href="{% url 'empresas:list' %}" class="btn btn-danger">Cancelar</a>
                                <button class="btn btn-primary" type="submit">Si</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Agavesoft
                    </div>
                </div>
            </div>
        </center>
        {% else %}
        <p>No empreas are available.</p>
        {% endif %}
    </form>
</body>

</html>