<html lang="en">

<head>

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Empresa Detalle</title>
</head>

<body>

    {% if business %}
    <center>
        <div style="width: max-content; margin:50px">
            <div class="card text-center">
                <div class="card-header">
                    <h3>{{business.nombre}}</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ business.razon_social }}</h5>
                    <h5 class="card-title">{{ business.direccion }}</h5>
                    <h5 class="card-title">{{ business.rfc }}</h5>
                    <h5 class="card-title">{{ business.telefono_oficial }}</h5>
                    <h5 class="card-title">{{ business.telefono_contacto }}</h5>
                    <div class="float">
                        <a href="{% url 'empresas:list' %}" class="btn btn-secondary">Back</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Agavesoft
                </div>
            </div>
        </div>
    </center>

    {% else %}
    <p>No empresa are available.</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>