<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lista empresa</title>
</head>

<body>
    <h1>Lista empresa</h1>
    <div class="float-left">
        <a class="btn btn-primary" href="{% url 'empresas:create' %}">Crear Empresa</a>
    </div>
    {% if business_list %}
    <div class="table-responsive-md" style="width: 50%;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre de la empresa</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for business in business_list %}
                <tr>
                    <td>
                        <a href="{% url 'empresas:detail' business.id %}">{{ business.nombre }}</a>
                    </td>
                    <td>
                        <a class="btn btn-info" href="{% url 'empresas:update' business.id %}">editar</a>
                        <a class="btn btn-danger" href="{% url 'empresas:delete' business.id %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No empresa are available.</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>